.App {
  display: flex;
  height: 210px;
  width: 90%;
  max-width: 500px;
  border: solid 0.5px #000;
  background-color: #23241b;
  border-radius: 10px;
  border-color: #ffd500;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  padding: 45px 0;
  box-shadow: 5px 10px 15px -3px rgb(255 232 5 / 3%),
    0 10px 100px -3px rgb(233 217 0 / 16%);
}

h1 {
  font-family: "Anton Regular";
  color: #fff;
  font-size: 35px;
  text-shadow: 0px 0px 8px #ffc8006a;
}

input {
  height: 37px;
  width: 147px;
  padding: 0 10px;
  font-family: "Poppins Medium";
  border-radius: 7px;
}

.button {
  display: flex;
  margin-top: 5px;
  gap: 5px;
  justify-content: center;
  cursor: auto;
}

.button button {
  width: auto;
  font-family: "Poppins Medium";
  font-size: 12px;
  background-color: #ffd500;
  border-radius: 5px;
  border: #5f4d1d;
  padding: 0.5em;
}

.button button:hover {
  box-shadow: 1px 0px 10px #ffc8004a, 1px 0px 10px #ffc8005e;
}
